<!--课程介绍详情页面-->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/course_detail.css' />

    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/mine/nojsja.js"></script>
    <script type="text/javascript" src="/javascripts/course_detail.js"></script>
</head>
<body>
<header class="header">
    <div class="header-label">
        课程介绍
        <a href="/course/index"><span class="glyphicon glyphicon-home return-home"></span></a>
    </div>
</header>

<!--课程介绍首部-->
<div class="detail-head">
    <div class="detail-head-img"></div>
    <p class="detail-head-type"><%= courseType %></p>
    <p class="detail-head-title">
        <%= courseName %>
    </p>
    <div class="detail-head-other">
        <div class="other-date"><%= date %></div>
        <!--<div class="other-read">-->
            <!--<span class="glyphicon glyphicon-eye-open"><%= clickRate %></span>-->
        <!--</div>-->
    </div>

</div>

<!--课程相关的标签-->
<div class="detail-tags-div">
    <!--<span class="tag-item tag-change-animation">标签1</span>-->
    <!--<span class="tag-item tag-change-reverse-animation">标签2</span>-->
    <!--<span class="tag-item tag-change-animation">标签2</span>-->
</div>

<!--课程介绍主体-->
<div class="detail-body">
    <div class="detail-body-abstract">
        <div class="abstract">

        </div>
    </div>
</div>

<!--进入课程页面按钮-->
<div id="startDiv">
    <input type="button" disabled="disabled"  class="btn btn-danger" value="购买" id="purchase">
    <input type="button" disabled="disabled" class="btn btn-success" value="开始学习-->" id="start">
</div>

<!--页内脚本-->
<script type="text/javascript">


        /* 注意ejs模板中可以用%-获取非转义字符 */
        // 设置描述内容
        DetailAction.$$abstract = '<%- courseAbstract %>';
        DetailAction.isPurchased = '<%= isPurchased %>';
        DetailAction.courseName = '<%= courseName%>';
        DetailAction.courseType = '<%= courseType%>';
        DetailAction.courseTags = '<%= courseTags %>';
        DetailAction.initialError = '<%= isError %>';
        DetailAction.error = '<%= error %>';
        $('.abstract').append( $(DetailAction.$$abstract).html() );


</script>

<!--底部导航-->
<%- include footer.ejs %>
<%- include hoverButton.ejs %>
<%- include modalWindow.ejs %>
</body>




























