<!--课程呈现主页-->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="带渔课程教学系统" />
    <meta name="keywords" content="course of GuideFishing" />

    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/course_index.css' />

    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <!--自己的框架-->
    <script type="text/javascript" src="/javascripts/lib/mine/nojsja.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/course_index.js"></script>
</head>
<body>

<header id="head" class="header">
    <div class="header-label">选择课程类型 <span class="glyphicon glyphicon-chevron-down"></span></div>
    <!--评测类型-->
    <div class="type-item" id="jobFound">求职秘籍</div>
    <div class="type-item" id="software">软件技巧</div>
    <div class="type-item" id="jobSkill">职场技能</div>
    <div class="type-item" id="english">英语进阶</div>
    <div class="type-item" id="personal">个人提升</div>
</header>

<%- include slideImage.ejs%>

<!--热门课程列表-->
<div class="hot-container">
    <!--标题-->
    <div class="hot-title">热门课程</div>
    <!--热门列表-->
    <div class="hot-item-list">
        <li><a class="hot-item">这是一个热门</a></li>
        <li><a class="hot-item">这是一个热门</a></li>
    </div>
</div>

<!--内容展示主要区域-->
<div id="total" class="container">

</div>

<!--数据加载loading信息-->
<div class="loading-info">
    <input id="loadMore" type="button" class="btn btn-success" value="加载更多..."></input>
</div>

<!--返回顶部按钮-->
<%- include test_pageAnchor.ejs%>
<!--底部导航-->
<%- include footer.ejs%>
<!--模态弹窗-->
<%- include modalWindow.ejs%>

</body>
</html>
