<!-- 课程管理员登录页面-->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/course_broadcastAdmin.css' />

    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/mine/nojsja.js"></script>
    <script type="text/javascript" src="/javascripts/course_broadcastAdmin.js"></script>
    <script type="text/javascript">
        bcAdminAction.broadcastRoom = '<%= broadcastRoom %>';
    </script>
</head>
<body>

<%- include recruitment_header.ejs %>

<!--主要部分-->
<div class="container total">

    <!--登录表单-->
    <form>
        <fieldset>
            <legend><%= title %></legend>
            <!--账户名-->
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input type="text" class="form-control" id="account"
                           placeholder="请输入用户名">
                </div>

            </div>
            <!--密码-->
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input type="text" class="form-control" id="password"
                           placeholder="请输入密码">
                </div>

            </div>
            <!--登录-->
            <input type="button" class="btn btn-success" id="login" value="登录">
        </fieldset>
    </form>
</div>

<%- include footer.ejs %>
<%- include hoverButton.ejs %>
<% include modalWindow.ejs%>

</body>
