<!--离线课程参阅页面-->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/course_view.css' />

    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/mine/nojsja.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/course_view.js"></script>
</head>

<body>
<!--首部导航-->
<%include recruitment_header.ejs%>

<!--课程主体部分-->
<div class="total">

    <!--标题部分-->
    <div class="course-head">
        <!--课程名字-->
        <div id="courseName">
            <%= courseName %>
        </div>
        <!--课程类型-->
        <div id="courseType">
            <%= courseType %>
        </div><br>

        <!--发布信息-->
        <div class="info-div">
            <!--讲师-->
            <div id="teacher">
            </div>
            <!--发布时间-->
            <div id="date">
            </div>

        </div>
    </div>

    <!--课程内容-->
    <div id="courseContent">

    </div>

    <!--直播内容-->
    <div class="message-list" id="messageList">

    </div>

</div>

</body>

<!--中以科创页脚-->
<%- include footer.ejs%>
<%- include modalWindow.ejs%>
</body>
</html>