 <!--离线课程参阅页面-->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">

    <!--bootstrap样式-->
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <!--font-awesome图标-->
    <link rel="stylesheet" href="/stylesheets/lib/font-awesome.min.css">
    <!--页面样式-->
    <link rel='stylesheet' href='/stylesheets/course_adminEdit.css' />

    <!--jQuery-->
    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <!--加载Uditor-->
    <script type="text/javascript" src="/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/Ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="/Ueditor/lang/zh-cn/zh-cn.js"> </script>
    <!--加载bootstrap-->
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
    <!--jQuery-file-upload-->
    <script type="text/javascript" src="/javascripts/lib/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.fileupload.js"></script>
    <!--页面脚本-->
    <script type="text/javascript" src="/javascripts/lib/mine/nojsja.js"></script>
    <script type="text/javascript" src="/javascripts/course_adminEdit.js"></script>

</head>

<body>

<!--admin header-->
<%- include admin_header.ejs %>

<!--上传窗口触发器-->
<div class="self-trigger self-trigger-upload" triggerTarget="self-container-upload">
    <span class="glyphicon glyphicon-cloud-upload"></span>
</div>
<!--视频,音频和图片上传窗口-->
<div class="self-container self-container-upload">
    <!--上传图片-->
    <div class="upload-img">
        <div class="upload-title">上传图片</div>
        <div child="imgUpload">
            <input type="file" multiple=true id="imgUpload" size="5" value="选择" class="btn btn-default">
        </div>
        <!--文件列表-->
        <div id="imgListDiv">
        </div>
        <!--上传进度条-->
        <div id="uploadImgProgress">
            <div class="progress-bar"></div>
        </div>
    </div>

    <!--上传视频-->
    <div class="upload-video">
        <div class="upload-title">上传视频</div>
        <div child="videoUpload">
            <input type="file" multiple=true id="videoUpload" size="5" value="选择" class="btn btn-default">
        </div>
        <!--文件列表-->
        <div id="videoListDiv">

        </div>
        <!--上传进度条-->
        <div id="uploadVideoProgress">
            <div class="progress-bar"></div>
        </div>
    </div>

    <!--上传音频-->
    <div class="upload-audio">
        <div class="upload-title">上传音频</div>
        <div child="audioUpload">
            <input type="file" multiple=true id="audioUpload" size="5" value="选择" class="btn btn-default">
        </div>
        <!--文件列表-->
        <div id="audioListDiv">
        </div>
        <!--上传进度条-->
        <div id="uploadAudioProgress">
            <div class="progress-bar"></div>
        </div>
    </div>
</div>


<!--预览窗口触发器-->
<div class="self-trigger self-trigger-preview" triggerTarget="self-container-preview">
    <span class="glyphicon glyphicon-eye-open"></span>
</div>
<!--视频预览,音频预览和图片预览-->
<div class="self-container self-container-preview">

    <!--可选预览类型-->
    <div class="preview-type-div">
        <div class="preview-type" preview="audio"><i class="icon-headphones"></i></div>
        <div class="preview-type" preview="video"><i class="icon-film"></i></div>
        <div class="preview-type" preview="image"><i class="icon-picture"></i></div>
    </div>
    <div class="preview-list">

    </div>
</div>

<!--导入课程触发器-->
<div class="self-trigger self-trigger-load" triggerTarget="self-container-load">
    <span class="glyphicon glyphicon-cloud-download" title="导入课程数据"></span>
</div>
<!--导入课程窗口-->
<div class="self-container self-container-load">
    <div class="form-group">
        <input type="text" class="form-control" id="courseNameLoad" placeholder="请输入要导入的课程名字">
        <input type="button" class="btn btn-default" id="load" value="导入">
    </div>
</div>


<!--正文-->
<div class="container" id="total">
    <div class="row">
        <div class="col-md-2 col-md-offset-5 total-title">
            <i class="icon-edit"></i><%= title %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 title border">
            <i class="icon-quote-left"></i> 标题 <i class="icon-quote-right"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <input id="courseName" class="form-control"  type="text" placeholder="请输入课程标题">
        </div>
    </div>

    <!--分类-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1 title border">
            <i class="icon-quote-left"></i> 分类 <i class="icon-quote-right"></i>

        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 type">
            <div class="type-item" type="jobFound">求职秘籍</div>
            <div class="type-item" type="jobSkill">职场技能</div>
            <div class="type-item" type="english">英语进阶</div>
            <div class="type-item" type="software">软件技巧</div>
            <div class="type-item" type="personal">个人提升</div>

        </div>
    </div>

    <!--标签-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1 title border">
            <i class="icon-quote-left"></i> 标签 <i class="icon-quote-right"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <!--添加区域-->
            <div>
                <input type="text" id="tagText" placeholder="标签内容..">
                <div class="btn btn-default btn-sm" target="tagText" id="tagAdd" title="点击添加">+</div>
            </div>
            <!--显示区域-->
            <div class="tag-list">
                <!--<div class="tag-list-item" title="点击删除标签">123</div>-->
            </div>
        </div>
    </div>

    <!--课程概述-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1 border title">
            <i class="icon-quote-left"></i> 概述 <i class="icon-quote-right"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 input-group">
            <script id="editorAbstract" type="text/plain"></script>
        </div>
    </div>

    <!--课程讲师-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1 border title">
            <i class="icon-quote-left"></i> 讲师 <i class="icon-quote-right"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <input id="teacher" class="form-control" type="text" placeholder="请输入课程讲师">
        </div>
    </div>
    <!--讲师登录密码-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1 border title">
            <i class="icon-quote-left"></i> 密码 <i class="icon-quote-right"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <input id="password" class="form-control" type="text" placeholder="请输入讲师登录密码">
        </div>
    </div>

    <!--课程价格-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1 border title">
            <i class="icon-quote-left"></i> 价格 <i class="icon-quote-right"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <input id="price" class="form-control" type="text" placeholder="请输入课程价格">
        </div>
    </div>

    <!--主要内容-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1 border title">
            <i class="icon-quote-left"></i> 内容 <i class="icon-quote-right"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 input-group">
            <script id="editorContent" type="text/plain"></script>
        </div>
    </div>

    <!--发表课程-->
    <div class="row">
        <div class="col-md-12" id="sendDiv">

            <button type="button" class="btn btn-default" id="sendBroadcast" isReady="false">
                <i class="icon-comments-alt"></i> 讨论组<i class="icon-plus"></i>
            </button>

            <button type="button" class="btn btn-success" id="sendCourse" isReady="true">
                 提交审核 <span class="glyphicon glyphicon-send"></span>
            </button>

        </div>
    </div>

</div>

<script type="text/javascript">

    if('<%= loadData %>' !== 'false'){

        // " 解码
        var loadDataString = EditAction.SymbolDecode('<%= loadData %>');

        EditAction.loadData = JSON.parse(loadDataString);

    }

</script>

<% include modalWindow%>
<!--admin footer -->
<% include admin_footer.ejs%>

</body>
</html>