<!--课程呈现主页-->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="带渔课程教学系统" />
    <meta name="keywords" content="course of GuideFishing" />

    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/lib/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/GuideFishing_index.css' />

    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <!--自己的框架-->
    <script type="text/javascript" src="/javascripts/lib/mine/nojsja.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/GuideFishing_index.js"></script>
</head>
<body>

<!--通用首部-->
<div class="header-div">
    <%- include GuideFishing_header.ejs%>
</div>

<!--内容包裹框-->
<div class="main-container">

    <div class="slide-div" id="slideDiv">
        <%- include slideView.ejs%>
    </div>


    <!--------------热门课程列表------------->
    <div class="hot-container">
        <!--标题-->
        <div class="hot-title">热门课程</div>
        <!--热门列表-->
        <div class="hot-item-list" id="hotCourseList">

        </div>
    </div>

    <!----------------侧边导航信息----------------->
    <div class="side-nav-container">
        <!--导航触发区-->
        <div class="nav-trigger">
            <i class="icon-arrow-left"></i>
        </div>
        <!--导航内容区-->
        <div class="nav-content-div">
            <!--个人信息-->
            <div class="nav-content-info">
                <!--昵称-->
                <div class="content-info-nickName">
                    <a href="/userInfo"><i class="icon-user"></i></a>
                    <span>Unknown</span>
                </div>
                <!--账户-->
                <div class="content-info-account">Email: Unknown</div>
                <!--密码-->
                <div class="content-info-password">Key: Unknown</div>

                <!--管理员-->
                <div class="content-info-admin">Admin: Unknown</div>
            </div>
            <!--导航链接-->
            <div class="nav-content-links">
                <a href="/index">
                    <div class="content-links-index">
                        <i class="icon-home"></i>
                        <span>首页</span>
                    </div>
                </a>
                <a href="/course/index">
                    <div class="content-links-course">
                        <i class="icon-book"></i>
                        <span>课程主页</span>
                    </div>
                </a>
                <a href="/test/index">
                    <div class="content-links-test">
                        <i class="icon-bar-chart"></i>
                        <span>测评主页</span>
                    </div>
                </a>
                <a href="/recruitment/index">
                    <div class="content-links-recruitment">
                        <i class="icon-group"></i>
                        <span>招聘主页</span>
                    </div>
                </a>
                <a href="/course/broadcast/index">
                    <div class="content-links-broadcast">
                        <i class="icon-comments"></i>
                        <span>课程讨论组主页</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--课程学习标志-->
    <div class="mark-title">
        <i class="icon-book"></i>
        <span>课程学习</span>
        <span id="courseMore">
        更多
        <i class="icon-double-angle-right"></i>
        </span>
    </div>
    <!--课程内容展示主要区域-->
    <div id="totalCourse">

    </div>

    <!---------------课程讨论组------------->
    <div class="mark-title">
        <i class="icon-comment"></i>
        <span>课程讨论组</span>
        <span id="broadcastMore">
        更多
        <i class="icon-double-angle-right"></i>
    </span>
    </div>
    <div id="totalBroadcast">

    </div>

    <!-----------------招聘信息------------------->
    <div class="mark-title">
        <i class="icon-group"></i>
        <span>热门岗位相关课程</span>
        <span id="recruitmentMore">
        更多
        <i class="icon-double-angle-right"></i>
    </span>
    </div>

    <!--招聘公司信息展示-->
    <div id="totalRecruitment">

    </div>


    <!------------------热门测评------------------->
    <div class="mark-title">
        <i class="icon-bar-chart"></i>
        <span>课程选择指导评测</span>
        <span id="testMore">
        更多
        <i class="icon-double-angle-right"></i>
    </span>
    </div>
    <!--热门列表-->
    <div class="hot-item-list" id="hotTestList">
        <li><a class="hot-item">这是一个热门</a></li>
        <li><a class="hot-item">这是一个热门</a></li>
    </div>


</div>

<!--底部导航-->
<%- include footer.ejs%>
<!--模态弹窗-->
<%- include modalWindow.ejs%>

</body>
</html>


