<!--testDetail-->
<!--某个测试题的详情介绍页面-->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/test_detail.css' />

    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/mine/nojsja.js"></script>
    <script type="text/javascript" src="/javascripts/test_detail.js"></script>
</head>
<body>
<header class="header">
    <div class="header-label">
        测试介绍
        <a href="/test/index"><span class="glyphicon glyphicon-home return-home"></span></a>
    </div>
</header>

<!--评测介绍首部-->
<div class="container detail-head">
    <div class="detail-head-img"></div>
    <p class="detail-head-type"><%= testType %></p>
    <p class="detail-head-title box1">
        <%= testTitle %>
    </p>
    <div class="detail-head-other">
        <div class="other-date"><%= date %></div>
        <div class="other-read">
            <span class="glyphicon glyphicon-eye-open"><%= frequency %></span>
        </div>
    </div>

</div>

<!--评测介绍主体-->
<div class="container detail-body">
    <div class="detail-body-abstract">
        <p class="abstract">
            <%= abstract %>
        </p>
    </div>
</div>

<!--进入测试页面按钮-->
<div id="startDiv">
    <!--<input type="button" class="btn btn-danger" value="购买" id="purchase">-->
    <input type="button" class="btn btn-success" value="开始测试-->" id="start">
</div>

<!--底部导航-->
<%- include footer.ejs %>
<!--模态弹窗-->
<%- include modalWindow.ejs %>
<!--悬浮按钮-->
<%- include hoverButton.ejs %>

<!--页内脚本-->
<script type="text/javascript">


    /* 注意ejs模板中可以用%-获取非转义字符 */
    // 设置描述内容
    DetailAction.$$abstract = '<%- abstract %>';
    DetailAction.isPurchased = '<%= isPurchased %>';
    DetailAction.testTitle = '<%= testTitle%>';
    DetailAction.testType = '<%= testType %>';
    DetailAction.initialError = '<%= isError %>';
    DetailAction.error = '<%= error %>';
    $('.abstract').append( $(DetailAction.$$abstract).html() );


</script>

</body>