<!--index-->
<!--用户系统首页-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta name="description" content="问卷调查评测系统" />
      <meta name="keywords" content="questionnaire" />

      <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/test_index.css' />

      <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
      <script type="text/javascript" src="/javascripts/lib/mine/nojsja.js"></script>
      <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
      <script type="text/javascript" src="/javascripts/test_index.js"></script>
  </head>
  <body>

  <header id="head" class="header">
      <div class="header-label">选择评测类型 <span class="glyphicon glyphicon-chevron-down"></span></div>
      <!--评测类型-->
      <div class="type-item" id="personality">人格测试</div>
      <div class="type-item" id="character">性格测试</div>
      <div class="type-item" id="emotion">情感测试</div>
      <div class="type-item" id="communication">交际测试</div>
      <div class="type-item" id="potential">潜能测试</div>
  </header>

  <!-- 图片轮播墙 -->
  <%- include slideView.ejs%>

  <!--热门评测列表-->
  <div class="hot-container">
      <!--标题-->
      <div class="hot-title">热门测评</div>
      <!--热门列表-->
      <div class="hot-item-list">
          <li><a class="hot-item">这是一个热门</a></li>
          <li><a class="hot-item">这是一个热门</a></li>
      </div>
  </div>

  <div id="total" class="container">

  </div>

  <!--数据加载loading信息-->
  <div class="loading-info">
      <input type="button" class="btn btn-success" value="加载更多..."></input>
  </div>

  <!--返回顶部按钮-->
  <%- include test_pageAnchor.ejs%>
  <!--底部导航-->
  <%- include footer.ejs%>
  <!--模态弹窗-->
  <%- include modalWindow.ejs%>

  </body>
</html>
