<!--index-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta name="description" content="问卷调查评测系统" />
      <meta name="keywords" content="questionnaire" />

      <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/lib/font-awesome.min.css">
      <link rel='stylesheet' href='/stylesheets/test_index.css' />

      <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
      <script type="text/javascript" src="/javascripts/lib/mine/nojsja.js"></script>
      <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
      <script type="text/javascript" src="/javascripts/test_index.js"></script>
  </head>
  <body>

  <header id="testHead" class="header">
      <div class="header-label">
          <span id="testTypeChoose">评测类型</span>
          <i class="icon-angle-down" id="testTypeChoose2"></i>
          <a href="/index"><span class="glyphicon glyphicon-home return-home"></span></a>
      </div>
      <!--全局的评测列表-->
      <div class="all-test-type">
          <!--<div class="test-type-item">-->
              <!--<div class="test-type">-->
                  <!--<img src="/images/testType/emotion.jpg">-->
                  <!--<span class="test-type-text">情感</span>-->
              <!--</div>-->
          <!--</div>-->
          <!--隐藏列表-->
          <!--<div class="test-type-hidden">-->
              <!--<i class="icon-double-angle-up"></i>-->
          <!--</div>-->
      </div>
  </header>

  <div class="slide-div" id="slideDiv">
      <%- include slideView.ejs%>
  </div>

  <!--热门评测列表-->
  <div class="hot-container">
      <!--标题-->
      <div class="hot-title">热门测评</div>
      <!--热门列表-->
      <div class="hot-item-list">
          <li><a class="hot-item">这是一个热门</a></li>
          <li><a class="hot-item">这是一个热门</a></li>
      </div>
  </div>

  <!--所有测评标题-->
  <div class="total-title">
      <i class="icon-reorder"></i>
      <span>测评</span>
  </div>
  <div id="total">

  </div>

  <!--数据加载loading信息-->
  <div class="loading-info">
      正在加载...
  </div>
  <!--<div class="loading-info">-->
      <!--<input type="button" class="btn btn-success" value="加载更多..."></input>-->
  <!--</div>-->

  <!--返回顶部按钮-->
  <%- include hoverButton.ejs%>
  <!--底部导航-->
  <%- include footer.ejs%>
  <!--模态弹窗-->
  <%- include modalWindow.ejs%>

  <!--页内脚本-->
  <script type="text/javascript">

      TestIndexAction.testType = '<%= testType %>';
  </script>

  </body>
</html>
